.App{
    background-color: #d1e2e9;
    height: 100%;
    
}
.beach-info{
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 10px;
    padding: 10px;
}
 .app-text{
    text-align: center;
    font-size: 27px;
 }